@import '../../../styles/variables.scss';

.day {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
  h3 {
    max-width: 162px;
    width: 100%;
    text-align: center;
    @include PTMonoSmall();
    font-size: 30px;
    line-height: 34px;
    color: black;
    text-transform: uppercase;
  }
}
.times {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 9rem;
}
@mixin time {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-end;
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
}

.default {
  @include time();
  input {
    @include button();
    width: 100%;
    padding-inline: 2rem;
  }
}

.selected {
  @include time();
  input {
    @include orangeButton();
    box-shadow: none;
    padding-inline: 2rem;
  }
}
