@import '../../styles/variables.scss';
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.authForm {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
