@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=PT+Mono&display=swap');

$orange: #ed9932;
$primaryGray: #9e9e9e;
$backgroundGray: #dfe0df;
$secondaryText: #ffffff80;
$primaryText: #ffffff80;
$primaryBlackText: #1d1d1d;
$error: #7b1111;
$borderGray: #acacac;
$white: #f3f3f3;
$popupAnchor: rgba(
  $color: #000000,
  $alpha: 0.2,
);

@mixin HeeboSmall() {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
@mixin HeeboMedium() {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
@mixin HeeboBold() {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

@mixin PTMonoSmall() {
  font-family: 'PT Mono', monospace;
}

@mixin orangeButton() {
  @include button();
  box-shadow: none;
  background-color: $orange;
  &:active {
    transition: 0s ease 0s;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
  }
}

@mixin button() {
  transition: 0.2s ease 0s;
  @include PTMonoSmall();
  text-transform: uppercase;
  box-shadow: -3px 3px 0px 0px #ed9932;
  color: $white;
  background-color: $primaryGray;
  border: none;
  text-align: center;
  min-width: 165px;
  min-height: 60px;
  font-size: 25px;

  &:active {
    transition: 0.2s ease 0s;
    box-shadow: none;
    background-color: $orange;
  }
}

@mixin input() {
  width: 100%;
  padding: 30px 50px 30px 20px;
  background-color: $primaryGray;
  color: $white;
  font-size: 20px;
  border: none;
  ::-webkit-input-placeholder {
    color: $primaryText; /* цвет placeholder для браузеров на основе WebKit */
  }
  :-moz-placeholder {
    color: $primaryText; /* цвет placeholder для браузера Firefox */
  }
  ::-moz-placeholder {
    color: $primaryText; /* цвет placeholder для браузера Firefox */
  }
  :-ms-input-placeholder {
    color: #999; /* цвет placeholder для браузера Microsoft Edge */
  }
}
