@import '../../../styles/variables.scss';

.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-bottom: 3rem;
}
.title {
  max-width: 142px;
  width: 100%;
  margin-right: 3rem;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  h3 {
    white-space: nowrap;
    text-align: left;
    @include HeeboBold();
    font-size: 30px;
    line-height: 44px;
    color: $primaryBlackText;
    text-transform: capitalize;
  }
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@mixin option {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 1rem;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
}

.default {
  @include option();
  button {
    @include button();
    width: 100%;
    padding-inline: 2rem;
  }
}

.selected {
  @include option();
  button {
    @include orangeButton();
    box-shadow: none;
    padding-inline: 2rem;
  }
}
