@import '../../../styles/variables.scss';

.wrapper {
  width: 80%;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit {
  @include orangeButton();
}

.fields {
  width: 100%;
  input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.password {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.view {
  position: absolute;
  top: 30%;
  right: 3%;
}
